.landing .navbar-brand img {
	/* height:40px; */
    height: 90px;
    width: 190px;
}

.landing.navbar{
	/* border-top:3px solid #1E8BC3; */
    border-top: 3px solid #c3841e;
	box-shadow: 2px 2px 2px 0px rgba(5, 5, 5, 0.06);
}

.landing .navbar-nav .nav-item{
	margin: 0 .5rem;
}
.landing .navbar-nav .nav-item.active .nav-link{
	color:#fff;
	/* background:#1E8BC3; */
    background: #c3841e;
    border-radius: .4rem;
}
.landing .navbar-nav .nav-item .nav-link{
	/* color:#1E8BC3; */
    color: #c3841e;
	font-weight: 600;
	padding: 3px 10px;
	text-transform:uppercase;
}
.landing .navbar-nav .nav-item .nav-link:hover, .landing .navbar-nav .nav-item .nav-link:focus{
	color:#fff;
	/* background:#1E8BC3; */
    background: #c3841e;
    border-radius: .4rem;
}
